* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}
.square-winner {
  background-color: red;
  border: 1px solid #999;
  float: left;
  font-size: 28px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}
.square-loser {
  background-color: gray;
  border: 1px solid #999;
  float: left;
  font-size: 30px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}
.restart {
  margin-left: 20px;
  text-align: center;
  font-size: 16px;
  transition-duration: 1s;
}
.restart:hover {
  color: red;
}
.table {
  margin-top: 10px;
  float: left;
  width: 85%;
}
.table_move {
  margin-top: 10px;
  float: right;
  width: 15%;
}
.board-row:after {
  clear: both;
  content: "";
  display: table;
}
.board-row {
  margin-left: 20px;
}

.status {
  margin-top: 20px;
  margin-left: 20px;
}

.winner {
  margin-left: 20px;
}
